<div class="□ bg-slate-100 □ dark:bg-slate-800 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <dl
            class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3"
        >
            {{ stat_card }}
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                <dt class="text-base/7 □ text-gray-600 □ dark:text-slate-300">
                    {{ stat_subtitle }}
                </dt>
                <dd
                    class="order-first text-3xl font-semibold tracking-tight
          □ text-gray-900 □ dark:text-slate-100 sm:text-5xl"
                >
                    {{ stat_title }}
                </dd>
            </div>
            {{ /stat_card }}
        </dl>
    </div>
</div>
